/* styles.css */

#pokemon-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 16.66%; /* Displays 6 items per row */
  }
  
  #pokemon-list li {
    margin-bottom: 10px;
    flex-basis: 16.66%; /* Displays 6 items per row */
    
  }
  
  button {
    display: block;
    width: 200px;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #pokemon-details {
    margin-top: 20px;
  }

  .modal {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
  }

  
  .pokemon-container {
    display: flex;
  }
  
  #pokemon-list {
    flex: 1;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  #pokemon-details {
    flex: 2;
  }
  